<div id="ticket"></div>
     <b>Please select the type</b>
     <br>
     <br>
     <div class="row">
          <div class="col-md-9">
          <br>
               <select>
                  <option>
                        Payment
                    </option>
                    <option>
                        State Bank of India
                    </option>
                    <option>
                        Axis Bank
                    </option>
                    <option>
                        HDFC Bank
                    </option>
                </select>
                </div>
