<br>
<br>
<div class="row msg">
     <div class="col-md-4">

     </div>
     <div class="col-md-4">
          Payment successful
     </div>
     <div class="col-md-4">
          
     </div>
</div>
<br>
<div class="row">
     <div class="col-md-4">

     </div>
     <div class="col-md-4">
          You will be redirected to transactions
     </div>
     <div class="col-md-4">
          
     </div>
</div>
<br>
<div class="row">
     <div class="col-md-5">

     </div>
     <div class="col-md-2">
          <button class="btn-primary" (click)=redirect_trans()>
               Ok
          </button>
     </div>
     <div class="col-md-5">
          
     </div>
</div>