<div class="jumbotron" style="padding: 20px; text-align: center">
    <h3>
        Recharge </h3><br/>
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 ">



                    <div class="panel with-nav-tabs panel-default " style="margin-bottom: 0px; padding-bottom: 0px;box-shadow: black 2px 2px 5px ">
                        <div class="panel-heading ">
                            <ul class="nav nav-tabs ">
                                <li class="ntab"><a><button class="tab_button" (click)="activate('1')">Prepaid</button></a></li>
                                <li class="ntab"><a><button class="tab_button" (click)="activate('2')">Postpaid</button></a></li>
                                <li class="ntab"><a><button class="tab_button" (click)="activate('3')">Dongle</button></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body " style="margin-top: 0px; padding: 0px; box-shadow: black 2px 2px 5px ">
                        <div class="tab-content " style="background:rgb(214, 214, 214) ">
                            <!---->
                            <div *ngIf="value_tab=='1'" id="tab1default " style="padding:20px; ">
                                <form #f="ngForm" (ngSubmit)="validate(f)">
                                    <div class="form-group " style="padding-left:20px;padding-right:30px;padding-top:20px;padding-bottom:10px;">
                                        <h2>Choose the best plan that suits you</h2><br/>
                                        <input type="text " pattern="^[0-9]*$" class="form-control" placeholder="Phone number" minlength=10 maxlength=10 [(ngModel)]="phn" #phn1="ngModel" name="phn" required style=" display: inline ; width: 200px;  margin-right: 25px;" />
                                        <input type="text " class="form-control" placeholder="Circle" style=" display: inline ; width: 200px; margin-right: 25px;" /><input type="number " class="form-control" placeholder="Amount" style=" display: inline ; width: 200px; margin-right: 25px;"
                                        /><button type="button " (click)="activate2('4')" class="btn btn-info ">Browse plans</button>
                                        <div class="error" *ngIf="((f.submitted) || (phn1.touched)) && (!phn1.valid)">
                                            Enter proper phone number!!! <br><br>
                                        </div>
                                    </div>
                                </form>

                                <div class="form-group" style="padding-left:20px;padding-right:30px;padding-top:10px;padding-bottom:0px "><button type="button " class="btn btn-primary" routerLink="/payment">Proceed to recharge</button></div>
                                <div *ngIf="value_tab2=='4'">
                                    <app-viewplans></app-viewplans>
                                </div>
                            </div>
                            <!---->
                            <div *ngIf="value_tab=='2'" id="tab2default " style="padding-top:20px; ">

                                <div class="form-group " style="padding-left:20px;padding-right:30px;padding-top:20px;padding-bottom:10px;">
                                    <h2>Choose pack based on your usage</h2><br/>
                                    <input type="text " class="form-control" placeholder="Phone number" style=" display: inline ; width: 200px;  margin-right: 25px;" />
                                    <input type="text " class="form-control" placeholder="Circle" style=" display: inline ; width: 200px; margin-right: 25px;" /><input type="number " class="form-control" placeholder="Amount" style=" display: inline ; width: 200px; margin-right: 25px;"
                                    /><button type="button " (click)="activate3('4')" class="btn btn-info ">Browse plans</button>

                                </div>



                                <div class="form-group" style="padding-left:20px;padding-right:30px;padding-top:10px;padding-bottom:0px "><button type="button " class="btn btn-primary ">Proceed to recharge</button></div>
                                <br>
                                <div *ngIf="value_tab3=='4'">
                                    <app-viewplans></app-viewplans>
                                </div>
                            </div>
                            <!---->
                            <div *ngIf="value_tab=='3'" id="tab3default " style="padding-top:20px; ">
                                <table>
                                    <tr>
                                        <th>
                                            <div class="form-group " style="padding-left:20px;padding-right:20px;padding-top:0px;padding-bottom:0px ">Switch to VoizFonica</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group " style="padding-left:20px;padding-right:30px;padding-top:20px;padding-bottom:10px ">MOBILE : +91 </div>
                                        </td>
                                        <th>
                                            <div class="form-group " style="padding-left:20px;padding-right:30px;padding-top:20px;padding-bottom:10px "><input type="text "></div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="form-group" style="padding-left:20px;padding-right:30px;padding-top:10px;padding-bottom:0px "><button type="button " class="btn btn-primary ">Proceed to recharge</button></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<router-outlet></router-outlet>