.tab_button {
    background-color: #286090;
    border: 0px;
    padding: 10px;
    color: white;
}

.ntab {
    background-color: #286090;
    border-right: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.error {
    color: red;
}