#ticket_box {
     box-shadow: black 2px 2px 5px;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 5px;
     padding:0px;
     overflow: hidden;
 }
 
 #box_head{
    background-color: rgba(0, 0, 0, 0.2);
    text-align:center;
    font-weight: bold;
    font-size: 18px;
}

 .btn-primary {
     background-color: rgb(255, 255, 255);
     border: 1px solid black;
     font-size: 12px;
     padding: 10px;
     font-weight: bolder;
     color: black;
     border-radius: 5px;
 }
 
 .btn-primary:hover {
     background-color: rgba(0, 0, 0, 0.2);
     ;
 }
 
 th {
     background-color: rgba(0, 0, 0, 0.2);
     padding: 10px;
     text-align: center;
     border-bottom: 1px solid black;
     font-size: 18px;
 }
 
 td {
     background-color: white;
     padding: 10px;
     border-bottom: 1px solid rgba(0, 0, 0, 0.2)
 }
 
 table.center {
     margin-left: auto;
     margin-right: auto;
 }
 
 table {
     min-height:500px;
     max-height:500px;
     text-align: center;
     overflow-x: hidden;
     overflow-y:scroll;
     border-radius: 5px;
     margin:10px;
 }