<div id="ticket_box" class="container">
  <div id="box_head">
    TICKETS
  </div>
  <br />
  <table border="1" class="center">
    <tr>
      <th>
        S.No.
      </th>
      <th>
        Ticket id.
      </th>
      <th>
        Ticket type
      </th>
      <th>
        Opened on
      </th>
      <th>
        Expected closing
      </th>
      <th>
        Closed on
      </th>
      <th>
        Resolution response
      </th>
      <th>
        State
      </th>
      <!-- <th>
                      Re-action
                  </th>
                  <th>
                      Action on ticket
                  </th> -->
    </tr>
    <tr *ngFor="let ticket of tickets_list; let i = index">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        {{ ticket.id }}
      </td>
      <td>
        {{ ticket.ticket_type }}
      </td>
      <td>
        {{ ticket.ticket_issue_date }}
      </td>
      <td>
        {{ ticket.ticket_resolution_proposed_date }}
      </td>
      <td>
        {{ ticket.ticket_resolved_date }}
      </td>
      <td>
        {{ ticket.ticket_resolution_response }}
      </td>
      <td>
        {{ ticket.ticket_status }}
      </td>
      <!-- <td>
                    {{ticket.ticket_re_action_reason}}
                </td> -->

      <!-- <td>
                      <input type="text">
                  </td>
                  <td *ngIf="ticket.ticket_status=='Open'">
                      <button class="btn-primary">
                          Close ticket
                      </button>
                  </td>
                  <td *ngIf="ticket.ticket_status=='Closed'">
                      <button class="btn-primary">
                          Open ticket
                      </button>
                  </td> -->
    </tr>
  </table>

  <br />
  <br />
</div>
