#payment {
    box-shadow: black 2px 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding:0px;
    overflow: hidden;
}

#payment_heading {
    border-bottom: 1px solid white;
    background-color: black;
    padding:10px;
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

#payment_content {
    padding: 0px;
}
  
.btn-primary {
    margin:10px;
    background-color:black;
    border: 1px solid black;
    font-size: 12px;
    padding: 5px;
    font-weight: bolder;
    border-radius: 5px;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
#card_payment {
    box-shadow: black 2px 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding:0px;
    overflow: hidden;
}

#card_payment_heading {
    border-bottom: 1px solid white;
    background-color: black;
    padding:10px;
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

#card_payment_content {
    padding: 25px;
}

#card_make_payment {
    float: right;
}

#redirection_net_banking {
    box-shadow: black 2px 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding:0px;
    overflow: hidden;
}

#redirect_accept {
    float: right;
    padding: 5px;
    min-width: 100px;
    margin: 10px;
}

#redirection_wallets {
    box-shadow: black 2px 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding:0px;
    overflow: hidden;
}

select {
    border-color: black;
    min-width: 300px;
}

select:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.error {
    color: red;
}

#net_banking_heading {
    border-bottom: 1px solid white;
    background-color: black;
    padding:10px;
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

#wallets_heading {
    border-bottom: 1px solid white;
    background-color: black;
    padding:10px;
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.content{
    padding:25px;
}
