<div class="row">
    <div class="col-md-4">
        <ul class="price">
            <li class="header">BASIC PLAN</li>
            <li class="grey">Rs. 750 / Month</li>
            <li><img src="assets/100mbps.png" style="height:150px; width:150px"></li>
            <li>100 Mbps Speed</li>

            <li class="grey"><a href="#" class="button">Choose</a></li>
        </ul>
    </div>


    <div class="col-md-4">
        <ul class="price">
            <li class="header">MEGA PLAN</li>
            <li class="grey">Rs. 1000 / Month</li>
            <li><img src="assets/250mbps.png" style="height:150px; width:150px"></li>
            <li>250 Mbps Speed</li>

            <li class="grey"><a href="#" class="button">Choose</a></li>
        </ul>
    </div>

    <div class="col-md-4">

        <ul class="price">
            <li class="header">SUPREME PLAN</li>
            <li class="grey">Rs. 2000 / Month</li>
            <li><img src="assets/1000mbps.png" style="height:150px; width:150px"></li>
            <li>1000 Mbps Speed</li>

            <li class="grey"><a href="#" class="button">Choose</a></li>
        </ul>
    </div>
</div>