<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <ul class="nav navbar-nav" style="display: inline;text-align:center">
          <li class.active="selectedpane==1">
            <a href="javascript:;" (click)="changepane(1)">Recommended Plans</a>
          </li>
          <li class.active="selectedpane==2">
            <a href="javscript:;" (click)="changepane(2)">Prepaid</a>
          </li>
          <li class.active="selectedpane==2">
            <a href="javscript:;" (click)="changepane(3)">Postpaid</a>
          </li>
          <li class.active="selectedpane==2">
            <a href="javscript:;" (click)="changepane(4)">Dongle</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</nav>

<div class="row" *ngIf="selectedpane == 1">
  <div class="col-md-4">
    <ul class="price" id="ppl">
      <li class="header">BASIC PLAN</li>
      <li class="grey">Rs. 750 / Month</li>
      <li>
        <img src="assets/100mbps.png" style="height:150px; width:150px" />
      </li>
      <li>100 Mbps Speed</li>

      <li class="grey"><a href="#" class="button">Choose</a></li>
    </ul>
  </div>
</div>

<div class="row" *ngIf="selectedpane == 2">
  <table class="table">
    <thead>
      <tr>
        <th>Plan Name</th>
        <th>Plan price</th>
        <th>Plan description</th>
        <th>Topup balance</th>
        <th>Calls</th>
        <th>Data</th>
        <th>SMS</th>
        <th>Validity</th>
        <th>Call costing</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let plan of plans">
        <tr *ngIf="plan.plan_type == 'prepaid'">
          <td>{{ plan.plans_name }}</td>
          <td>
            <a
              href="javascript:;"
              data-toggle="tooltip"
              title="Incl. Processing: {{
                plan.costtocompany.processing
              }} and GST: {{ plan.costtocompany.gst }}"
              >{{ plan.plans_price }}</a
            >
          </td>
          <td>{{ plan.plan_description }}</td>
          <td>{{ plan.topup_delivered }}</td>
          <td>{{ plan.value_delivered.calls }}</td>
          <td>{{ plan.value_delivered.data }}</td>
          <td>{{ plan.value_delivered.sms }}</td>
          <td>{{ plan.validity.prepaid_validity }}</td>
          <td>
            <a
              href="javascript:;"
              (click)="openDialog(plan.local, plan.roaming, plan.international)"
              >View Costing</a
            >
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="row" *ngIf="selectedpane == 3">
  <table class="table">
    <thead>
      <tr>
        <th>Plan Name</th>
        <th>Plan price</th>
        <th>Plan description</th>
        <th>Plan duration</th>
        <th>Free Calls</th>
        <th>Free Data</th>
        <th>Free SMS</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let plan of plans">
        <tr *ngIf="plan.plan_type == 'postpaid'">
          <td>{{ plan.plans_name }}</td>
          <td>
            <a
              href="javascript:;"
              data-toggle="tooltip"
              title="Incl. Processing: {{
                plan.costtocompany.processing
              }} and GST: {{ plan.costtocompany.gst }}"
              >{{ plan.plans_price }}</a
            >
          </td>
          <td>{{ plan.plan_description }}</td>
          <td>{{ plan.validity.postpaid_duration }}</td>
          <td>{{ plan.value_delivered.calls }}</td>
          <td>{{ plan.value_delivered.data }}</td>
          <td>{{ plan.value_delivered.sms }}</td>
          <td>
            <a
              href="javascript:;"
              (click)="openDialog(plan.local, plan.roaming, plan.international)"
              >Costing after free units</a
            >
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="row" *ngIf="selectedpane == 4">
  <table class="table" name="id">
    <thead>
      <tr>
        <th>Plan Name</th>
        <th>Plan price</th>
        <th>Plan description</th>
        <th>Plan duration</th>
        <th>Bundled data</th>
        <th>Data FUP</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let plan of plans">
        <tr *ngIf="plan.plan_type == 'dongle'">
          <td>{{ plan.plans_name }}</td>
          <td>
            <a
              href="javascript:;"
              data-toggle="tooltip"
              title="Incl. Processing: {{
                plan.costtocompany.processing
              }} and GST: {{ plan.costtocompany.gst }}"
              >{{ plan.plans_price }}</a
            >
          </td>
          <td>{{ plan.plan_description }}</td>
          <td>{{ plan.validity.postpaid_duration }}</td>
          <td>{{ plan.value_delivered.data }}</td>
          <td>
            <a
              href="javascript:;"
              (click)="openDialog(plan.local, plan.roaming, plan.international)"
              >Costing after FUP reached</a
            >
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
