<!-- <p>newconnection works!</p> -->
<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css'>
 </head>
 <body>
    <div class="container-fluid">
       <div class="accordion" id="accordionExample">
          <div class="card">
             <div class="card-header" id="headingOne" style="background:rgb(174, 237, 248); color:rgb(255, 255, 255);">
                <h2 class="mb-0">
                   <button class="btn btn-link"  type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                   ADD NEW CONNECTION
                   </button>
                </h2>
             </div>
             <div id="collapseOne" class="collapse in" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   <form  #f="ngForm" (ngSubmit)="conn(f)">
                      <div class="form-row">
                         <div class="col-md-4 mb-3">
                            <label for="validationDefault01">First name</label>
                            <input name="first_name" type="text" pattern="^[a-zA-Z ]*$" class="form-control" id="validationDefault01" placeholder="First name" [(ngModel)]="connection.first_name" #first_name="ngModel" first_name required>
                            <div *ngIf="(f.submitted || (first_name.dirty || first_name.touched)) && first_name.invalid ">
                              <div *ngIf="first_name.errors.required" class="error">
                                  First Number is required!
                              </div>
                              <div *ngIf="first_name.invalid && !first_name.errors.required" class="error">
                                  Incorrect First Number!
                              </div>
  
                          </div>


                         </div>
                         <div class="col-md-4 mb-3">
                            <label for="validationDefault02">Last name</label>
                            <input type="text" name="last_name" pattern="^[a-zA-Z ]*$" class="form-control" id="validationDefault02" placeholder="Last name" #last_name="ngModel" [(ngModel)]="connection.last_name"  last_name required>
                              <div *ngIf="(f.submitted || (last_name.dirty || last_name.touched)) && last_name.invalid ">
                              <div *ngIf="last_name.errors.required" class="error">
                                  Last Name is required!
                              </div>
                              <div *ngIf="last_name.invalid && !last_name.errors.required" class="error">
                                  Incorrect Last Name!
                              </div>
  
                          </div>
                         </div>
                         <div class="col-md-4 mb-3">
                            <label for="validationDefaultUsername">Username</label>
                            <div class="input-group">
                               <!-- <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend2">@</span>
                               </div> -->
                               <input type="text" name="username" pattern="^[a-zA-Z ]*$" class="form-control" id="validationDefaultUsername" placeholder="Username" #username="ngModel"
                               [(ngModel)]="connection.username" aria-describedby="inputGroupPrepend2" username required>
                               <div *ngIf="(f.submitted || (username.dirty || username.touched)) && username.invalid ">
                                 <div *ngIf="username.errors.required" class="error">
                                     Username is required!
                                 </div>
                                 <div *ngIf="username.invalid && !username.errors.required" class="error">
                                     Incorrect Username!
                                 </div>
     
                             </div>

                            </div>
                         </div>
                      </div>
                      <br>
                      <div class="form-row">
                         <div class="col-md-6 mb-3">
                            <label for="validationDefault03">City</label>
                            <input type="text" name="city" pattern="^[a-zA-Z ]*$" class="form-control" id="validationDefault03" placeholder="City" #city="ngModel" [(ngModel)]="connection.city" city required>
                            <div *ngIf="(f.submitted || (city.dirty || city.touched)) && city.invalid ">
                              <div *ngIf="city.errors.required" class="error">
                                  City is required!
                              </div>
                              <div *ngIf="city.invalid && !city.errors.required" class="error">
                                  Incorrect City!
                              </div>
  
                          </div>
                         </div>
                         <div class="col-md-3 mb-3">
                            <label for="validationDefault04">State</label>
                            <input type="text" pattern="^[a-zA-Z ]*$" name="state" class="form-control" id="validationDefault04" placeholder="State" #state="ngModel" [(ngModel)]="connection.state" state required>
                            <div *ngIf="(f.submitted || (state.dirty || state.touched)) && state.invalid ">
                              <div *ngIf="state.errors.required" class="error">
                                  State is required!
                              </div>
                              <div *ngIf="state.invalid && !state.errors.required" class="error">
                                  Incorrect State!
                              </div>
  
                          </div>
                         </div>
                         <div class="col-md-3 mb-3">
                            <label for="validationDefault05">Zip</label>
                            <input type="text" pattern="^[0-9]{6}$" name="zip" class="form-control" id="validationDefault05" placeholder="zip" #zip="ngModel" [(ngModel)]="connection.zip" zip required>
                            <div *ngIf="(f.submitted || (zip.dirty || zip.touched)) && zip.invalid ">
                              <div *ngIf="zip.errors.required" class="error">
                                  Zip is required!
                              </div>
                              <div *ngIf="zip.invalid && !zip.errors.required" class="error">
                                  Incorrect Zip!
                              </div>
  
                          </div>
                         </div>
                      </div>
                      <br>
                      <div class="form-row">
                         <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" pattern="^[a-z0-9@.]$"name="email" class="form-control" id="inputEmail4" placeholder="Email" #email="ngModel" [(ngModel)]="connection.email" email required>
                            <div *ngIf="(f.submitted || (email.dirty || email.touched)) && email.invalid ">
                              <div *ngIf="email.errors.required" class="error">
                                  Email is required!
                              </div>
                              <div *ngIf="email.errors.email && !email.errors.required" class="error">
                                  Please enter the valid email ID
                              </div>
                          </div>
  
                         </div>
                         <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" pattern="^[a-zA-Z0-9!@#$%^&*_(+{:;}) ]{8,32}$" name="password" class="form-control" id="password" placeholder="Password" #password="ngModel" [(ngModel)]="connection.password" password required>
                            <div *ngIf="(f.submitted || (password.dirty || password.touched)) && password.invalid ">
                              <div *ngIf="password.errors.required" class="error">
                                  Password is required!
                              </div>
                              <div *ngIf="password.invalid && !password.errors.required" class="error">
                                  Invalid Password!
                              </div>
  
                          </div>
                         </div>
                      </div>
                      <div class="form-group" style="margin-left: 10px">
                           <label>Plan Type : </label><br>
                           <div>
                              <form style="margin-left: 100px">
                                 <input [(ngModel)]="connection.type" type="radio" name="prepaid" value="prepaid"> Prepaid<br>
                                 <input [(ngModel)]="connection.type" type="radio" name="postpaid" value="postpaid" checked> Postpaid<br>
                                 <input [(ngModel)]="connection.type" type="radio" name="dongle" value="dongle">Dongle
                              </form>
                           </div>
                      </div>
                      <div class="form-group">
                         <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                            <label class="form-check-label" for="invalidCheck2">
                            Agree to terms and conditions
                            </label>
                         </div>
                      </div>
                      <button class="btn btn-primary" type="submit">Request Connection</button>
                   </form>
                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header" id="headingTwo" style="background:rgb(174, 237, 248);">
                <h2 class="mb-0">
                   <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                   PORTIN REQUEST
                   </button>
                </h2>
             </div><br>
             <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                   <form  #f="ngForm" (ngSubmit)="portin(f)">
                   <div class="form-group">
                      <div class="row">
                         <div class="col-md-6">
                            <label for="exampleInputPassword1">Enter the current mobile number :</label>
                            <input type="text" name="current_mobile_number" class="form-control" placeholder="Mobile Number" #current_mobile_number="ngModel" [(ngModel)]="portin.current_mobile_number" current_mobile_number required>
                            <div *ngIf="(f.submitted || (current_mobile_number.dirty || current_mobile_number.touched)) && current_mobile_number.invalid ">
                              <div *ngIf="current_mobile_number.errors.required" class="error">
                                  Mobile number is required!
                              </div>
                              <div *ngIf="current_mobile_number.invalid && !current_mobile_number.errors.required" class="error">
                                  Invalid mobile number!
                              </div>
  
                          </div>


                         </div>
                         <div class="col-md-6">
                            <label for="exampleInputPassword1">Enter the current network :</label>
                            <input type="text" name="current_network" class="form-control" placeholder="Network" #current_network="ngModel" #current_network="ngModel" [(ngModel)]="portin.current_network" current_network required/>
                            <div *ngIf="(f.submitted || (current_network.dirty || current_network.touched)) && current_network.invalid ">
                              <div *ngIf="current_network.errors.required" class="error">
                                  Network field is required!
                              </div>
                              <div *ngIf="current_network.invalid && !current_network.errors.required" class="error">
                                  Invalid Network!
                              </div>
  
                          </div>
                         </div>
                      </div>
                   </div>
                   <div class="form-group">
                      <div class="form-group col-md-6">
                         <label for="inputupc">Unique Porting Code</label>
                         <input type="text" pattern="^[0-9]{12}$" name="upc" class="form-control" id="inputupc" placeholder="UPC" #upc="ngModel" [(ngModel)]="portin.upc" upc required>
                         <div *ngIf="(f.submitted || (upc.dirty || upc.touched)) && upc.invalid ">
                           <div *ngIf="upc.errors.required" class="error">
                               UPC is required!
                           </div>
                           <div *ngIf="upc.invalid && !upc.errors.required" class="error">
                               Invalid UPC!
                           </div>

                       </div>
                      </div>
                   </div>
                   <div class="form-group">
                      <div class="form-group col-md-6">
                         <label for="inputcircle">Circle</label>
                         <input type="email" name="circle" class="form-control" id="inputcircle" placeholder="Circle" #circle="ngModel" [(ngModel)]="portin.circle" circle required>
                         <div *ngIf="(f.submitted || (circle.dirty || circle.touched)) && circle.invalid ">
                           <div *ngIf="circle.errors.required" class="error">
                              Circle is required!
                           </div>
                           <div *ngIf="circle.invalid && !circle.errors.required" class="error">
                               Invalid Circle!
                           </div>

                       </div>
                      </div>
                   </div>
                   
                   <button class="btn btn-primary" type="submit">Submit Request</button>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 
 </body>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <router-outlet></router-outlet>