<div class="row">
    <div class="col-md-6">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item ">
                    <img src="assets/commy3.png" alt="Keyboard" style="height:400px">
                    <div class="carousel-caption">


                    </div>
                </div>

                <div class="item">
                    <img src="assets/commy2.jpg" alt="Keyboard2" style="height:400px">
                    <div class="carousel-caption">

                        <!-- <p style="color:rgb(255, 255, 255)"><b>SECURE COMMUNICATION</b></p> -->
                    </div>
                </div>

                <div class="item active">
                    <img src="assets/commy.jpg" alt="Keyboard3" style="height:400px">
                    <div class="carousel-caption">

                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-6" style="padding-top:0px;padding-left:100px">
        <div class="card" style="box-shadow: black 2px 2px 5px; padding: 10px">
            <article class="card-body mx-auto" style="padding: 50px">
                <h4 class="card-title mt-3 text-center">LOGIN</h4>
                <p class="text-center">Login to your voizfonica account</p>
                <br/>
                <form #f="ngForm" (ngSubmit)="validate(f)" id="contact-form" method="post" action="contact.php" role="form">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="" style="padding-top:0px;text-align: center">
                                <div class="form-group">

                                    <input type="text" class="form-control" placeholder="Email" name="user_email" [(ngModel)]="user_email" #email="ngModel" email required>

                                    <br>
                                    <div *ngIf="(f.submitted || (email.dirty || email.touched)) && email.invalid ">
                                        <div *ngIf="email.errors.required" class="error">
                                            Email is required!
                                        </div>
                                        <div *ngIf="email.errors.email && !email.errors.required" class="error">
                                            Please enter the valid email ID
                                        </div>
                                    </div>


                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="" style="padding-top:0px;text-align: center">
                                <div class="form-group">

                                    <input id="form_phone" type="password" name="password" class="form-control" placeholder="Password" #password>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12" style="padding-top:0px;text-align: center">
                                <p style="text-align: center">
                                    <input type="submit" class="btn btn-primary" value="Login" (click)="func(email, password)">

                                </p>

                            </div>
                        </div>
                    </div>
                </form>
            </article>
        </div>
        <script src='https://www.google.com/recaptcha/api.js'></script>

        <!-- card.// -->