#support{
    box-shadow: black 2px 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding:0px;
    overflow: hidden;
}
#support_head{
    border-bottom: 1px solid black;
    background-color: black;
    padding:10px;
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
#support_history{
    min-height:500px;
    max-height:500px;
    padding:50px;
    overflow-x:hidden;
    overflow-y: scroll;
    text-align: center;
    scroll-behavior: auto;
}
#user_interaction_section{
    border:1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin:10px;
}
#user_text_box{
    min-height: 100px;
    border:1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}
#user_send_button{
    margin:25px;
    border:1px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.bot_information {
    border:1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffe6e6;
    margin:10px;
    text-align: left;
    font-size: 14px;
}
// .bot_information:before{
//     width: 0;
//     height: 0;
//     content:"";
//     top:-5px;
//     left:-14px;
//     position:relative;
//     border-style: solid;
//     border-width: 0 13px 13px 0;
//     border-color: transparent #ffffff transparent transparent;       
// }
.bot_information:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 1px;
    top: 50%;
    bottom: auto;
    border: 12px solid;
    border-color: transparent black transparent transparent;
}
.bot_option{
    border:1px solid black;
    border-radius: 5px;
    background-color: #ffe6e6;
    padding: 10px;
    margin:10px;
    font-size: 12px;
}
.bot_option:hover{
    background-color:  #ffa5c1;
    cursor:pointer;
}
.user_reply {
    border:1px solid black;
    border-radius: 5px;
    background-color: #ccffdc;
    padding: 10px;
    margin-top:10px;
    text-align: left;
    font-size: 14px;
}
.user_reply:before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right:-25px;
    top: 50%;
    bottom: auto;
    border: 12px solid;
    border-color: transparent transparent transparent black;
}
.message_timestamp{
    text-align: right;
    font-size: 12px;
}


// #other_text_box{
//     margin-top:10px;
//     margin-bottom:10px;
// }

// .btn-primary {
//     background-color: rgb(255, 255, 255);
//     border: 1px solid black;
//     font-size: 12px;
//     padding: 10px;
//     font-weight: bolder;
//     color: black;
//     border-radius: 5px;
// }

// .btn-primary:hover {
//     background-color: rgba(0, 0, 0, 0.2);
//     ;
// }
