<div id="support_box" class="container">
    <div id="box_head">
            QUICK SUPPORT
    </div>
    <div id="support_history">
        <br>
        <div class="row" *ngIf="initial_state===true">
            <div class="col-md-6"></div>
            <div class="col-md-6 information">
               Hi I am Voiza, your assistant for the day. How can I help you?
            </div>
        </div>
        <div class="row" *ngIf="initial_state===true && option_state===true">
            <div class="col-md-6"></div>
            <div class="col-md-6 information">
                Please select from below options
            </div>
        </div>
        <div *ngIf="initial_state===true">
            <div class="row"  *ngFor="let x of problems_list">
                <div class="col-md-8"></div>
                <div class="col-md-4 option" *ngIf="x.problems==='Initial'" (click)=display(x.solutions,x.problems);set_tic_type(x.solutions);>
                    {{x.solutions}}
                </div>
            </div> 
        </div>
        <div  *ngIf="initial_state==false && reason_box==false" >
            <div class="row" *ngFor="let x of problems_list">
                <div class="col-md-8"></div>
                <div class="col-md-4 information" *ngIf="x.type=='info' && x.problems===current_state;let option_state=false">
                    {{x.solutions}}
                </div>
                <div class="col-md-4 option" *ngIf="x.type=='option' && x.problems===current_state;let option_state=true" (click)=display(x.solutions,x.problems)>
                    {{x.solutions}}
                </div>
            </div>
            <br>
            <div class="row" *ngIf="new_state==true">
                    <div class="col-md-10"></div>
                    <div class="col-md-2 btn-primary" (click)=router_navigate()>
                        OK
                    </div>
                </div><br>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2 btn-primary" (click)=auto_display();>
                    BACK
                </div>
            </div>
        </div>
        <div class="row" *ngIf="reason_box==true">
            <div class="col-md-6"></div>
            <textarea class="col-md-6" [(ngModel)]="raise_info" id="other_text_box" height="250pxpx"></textarea>
        </div>
        <div class="row" *ngIf="reason_box==true">
            <div class="col-md-7"></div>
            <div class="col-md-2  btn-primary" (click)=auto_display();>
                BACK
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2  btn-primary" (click)=raise_ticket()>
                RAISE TICKET
            </div> 
        </div>    
    </div>
    </div>
<br>
<br>
<app-tickets></app-tickets>
<br>
<br>
<app-transactions></app-transactions>
<br>
<br>
<app-devices></app-devices>
<br>
