<div id="main_nav_panel" *ngIf="logged_items==false">
    <a id="company_logo" href="/">VOIZFONICA</a>
    <li *ngFor="let menuitem of menuitems_logged_out; let i = index" routerLink="/{{menuitem.path}}" (click)="isSupport(menuitem.name)" (click)="show_support()">
        {{menuitem.name}}
    </li>
</div>     
<div id="main_nav_panel" *ngIf="logged_items==true">
    <a id="company_logo" href="/">VOIZFONICA</a>
    <li *ngFor="let menuitem of menuitems_logged_in; let i = index" routerLink="/{{menuitem.path}}" (click)="show_support()">
        {{menuitem.name}}
    </li>
</div>  

<div id="page_content">
    <div *ngIf="isHome()">
        <app-splash></app-splash>
    </div>
    <router-outlet></router-outlet>
</div>

<img id="chat_float" *ngIf="chat_float_hide!=true" routerLink="/support" src="../assets/images/chat.png" width="75px" height="75px" (click)="hide_support()">

<div id="main_footer">
    &copy; 2019 VoizFonica
</div>

<!-- <div class="jumbotron" style="padding: 30px; margin: 0px">
        <div class="col-md-4">
            <a href="#" style="margin-right:20px">Terms and Conditions</a>
            <a href="#" style="margin-right:20px">Login</a>
            <a href="#" style="margin-right:20px">Sitemap</a>
        </div>
    </div>
</div>-->
