<div id="transaction_history" class="container">
  <div id="transactions_head">
    TRANSACTIONS
  </div>
  <table border="1" id="transaction_register" class="center">
    <tr>
      <th>
        Transaction Id.
      </th>
      <th>
        Amount
      </th>
      <th>
        Date and Time
      </th>
      <th>
        State
      </th>
      <th>
        Payment mode
      </th>
      <th>
        Payment details
      </th>
      <th>
        Invoice
      </th>
      <th>
        Raise ticket
      </th>
    </tr>
    <tr *ngFor="let i of trans_array;let x=index">
      <td>
        {{x+1}}
      </td>
      <td>
        {{ i.transaction_amount }}
      </td>
      <td>
        {{ i.transaction_date_time }}
      </td>
      <td>
        {{ i.transaction_state }}
      </td>
      <td>
        {{i.payment_mode}}
      </td>
      <td style="text-align: center">
        <b *ngIf="i.payment_mode=='Net Banking'"> 
          {{i.bank_name}}
        </b>
        <button *ngIf="i.payment_mode=='Card'"
          class="btn-primary"
          (click)="
            openCardDialog(
              i.card_linked.card_holder_name,
              i.card_linked.card_type,
              i.card_linked.card_number,
              i.card_linked.card_cvv,
              i.card_linked.card_bank
            )
          "
        >
          View card details
        </button>
        <button *ngIf="i.payment_mode=='Wallet'"
          class="btn-primary"
          (click)="
            openWalletDialog(
              i.wallet_linked.wallet_name,
              i.wallet_linked.wallet_auth_id,
              i.wallet_linked.wallet_processing_charges
            )
          "
        >
          View wallet details
        </button>
      </td>
      <td>
        <button class="btn-primary">
          Download invoice
        </button>
      </td>
      <td>
        <div *ngIf="i.transaction_state=='Failed'">
            <button *ngIf="i.refund_status==false" class='btn-primary' (click)=refund_ticket(trans_array,i.id)>
                Refund request
            </button>
            <b *ngIf="i.refund_status==true" class='row'>
                Refund already requested
            </b>
        </div>
          <button *ngIf="i.ticket_status==false" class="btn-primary" (click)="open_raise_ticket(trans_array,i.id)">Raise ticket</button>
        <b *ngIf="i.ticket_status==true" class="row">
          Ticket is in process
        </b>
        <br>
      </td>
    </tr>
  </table>
</div>

