#transaction_history {
  box-shadow: black 2px 2px 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding:0px;
  overflow-y: auto;
}

#transactions_head{
  border-bottom: 1px solid white;;
  background-color: black;
  padding:10px;
  text-align:center;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

table {
  box-shadow: black 2px 2px 5px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

th {
  border-bottom: 1px solid black;
  background-color: black;
  padding:10px;
  text-align:center;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

td {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid black;
  text-align:center;
  font-weight: bold;
  font-size: 12px;
}

.btn-primary {
  margin:10px;
  background-color:black;
  border: 1px solid black;
  font-size: 12px;
  padding: 5px;
  font-weight: bolder;
  border-radius: 5px;
  color: white;
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
